<Project>
  <PropertyGroup>
    <!-- Copy this file to Directory.Build.props.user and adjust paths for the local machine. -->
    <ParrotOutputDir>$(MSBuildThisFileDirectory)输出\</ParrotOutputDir>
    <Rhino8Dir>$(ProgramW6432)\Rhino 8</Rhino8Dir>
    <Tekla2025Dir>$(ProgramW6432)\Tekla Structures\2025.0</Tekla2025Dir>
    <Tekla2025Bin>$(Tekla2025Dir)\bin</Tekla2025Bin>
    <AutoCAD2020Dir>$(ProgramW6432)\Autodesk\AutoCAD 2020</AutoCAD2020Dir>
  </PropertyGroup>
</Project>
